@media screen and (max-width: 576px) {
  nav > ul,
  .header-info > p,
  .btn-primary {
    display: none;
  }
  .toggle,
  .horizontal-line {
    display: block;
    margin-right: 0;
  }
  .horizontal-line {
    border: 2px solid #fea301;
    max-width: 90%;
    margin: 0 auto;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .banner-image img {
    height: 400px;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
  }

  .banner-content .banner-title {
    font-size: 2rem;
    text-align: center;
  }

  .banner-content .banner-description {
    font-size: 1rem;
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
  }
  .banner-content .btn-enroll-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  /* Standard Curriculum start */

  .Standard-container .Standard-card {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
  }

  .Standard-container .Standard-title {
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 10px;
  }

  .standard-card-content {
    border: 2px solid red;
    max-width: 300px;
    max-height: 550px;
    margin: 20px auto;
    text-align: center;
  }

  .control-container {
    display: none;
  }

  /* stories section start */
  .stories-container {
    margin: 30px 0px 0px 0px;
  }
  .stories-container .stories-title {
    margin-top: 30px;
  }

  .stories-info {
    display: none;
  }

  .stories-content {
    min-width: 400px;
    margin: 20px 5px;
    height: 720px;
    padding: 0px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
  }

  .stories-right-section {
    max-width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
  }

  .stories-classroom {
    max-width: 100%;
    /* border: 2px solid red; */
    /* padding: 3px; */
    height: 220px;
    box-shadow: 4px 4px 8px rgba(184, 179, 179, 0.863);
    border-radius: 10px;
  }

  .stories-classroom img {
    width: 180px;
    height: 120px;
    object-fit: cover;
  }
  .stories-classroom .stories-sub-title-1,
  .stories-sub-title-2,
  .stories-sub-title-3,
  .stories-sub-title-4,
  .stories-sub-title-5,
  .stories-sub-title-6 {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0px;
    width: 180px;
    height: 50px;
    margin-top: 20px;
  }
  .display {
    display: block;
  }

  .stories-classroom .right-section-1 {
    background-color: #95b226;
    padding: 3px;
    width: 120px;
    text-align: center;
    top: 12vh;
    left: 30px;
    font-size: 0.8rem;
    /* border: 2px solid red; */
  }

  .stories-classroom .right-section-2 {
    background-color: #5d58f0;
    padding: 3px;
    width: 120px;
    text-align: center;
    top: 12vh;
    left: 30px;
    font-size: 0.8rem;
  }

  .stories-classroom .right-section-3 {
    background-color: #95b226;
    padding: 3px;
    width: 120px;
    text-align: center;
    top: 12vh;
    left: 30px;
    font-size: 0.8rem;
  }

  .stories-classroom .right-section-4 {
    background-color: rgb(109, 161, 5);
    padding: 3px;
    width: 120px;
    text-align: center;
    top: 12vh;
    left: 30px;
    font-size: 0.8rem;
  }

  .stories-classroom .right-section-5 {
    background-color: #01acfd;
    padding: 3px;
    width: 120px;
    text-align: center;
    top: 12vh;
    left: 30px;
    font-size: 0.8rem;
  }
  .stories-classroom .right-section-6 {
    background-color: #26b226;
    padding: 3px;
    width: 120px;
    text-align: center;
    top: 12vh;
    left: 30px;
    font-size: 0.8rem;
  }

  /* stories section end */

  /* footer section */

  .footer-container {
    margin-bottom: 0px;
  }
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    text-align: left;
    max-width: 390px;
    padding: 0px;
    /* border: 2px solid red; */
  }

  .about-school h2,
  .touch-section h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
  }
  .kids-content h1 {
    font-size: 2.1rem;
  }
  .kids-education p {
    font-size: 1.2rem;
  }
  .about-school p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
  }
}
