@media screen and (max-width: 576px) {
  .header-content {
    border: 5px solid #fea301;
  }

  nav > ul,
  .header-info > p,
  .btn-primary {
    display: none;
  }
  .toggle {
    display: block;
    margin-right: 0;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .banner-image img {
    height: 400px;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
  }

  .banner-content .banner-title {
    font-size: 2rem;
    text-align: center;
  }

  .banner-content .banner-description {
    font-size: 1rem;
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
  }
  .banner-content .btn-enroll-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  /* Standard Curriculum start */

  .Standard-container .Standard-title {
    font-size: 1.5rem;
  }

  .Standard-container .Standard-card {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
  }
  .Standard-card .standard-card-content {
    width: 600px;
  }

  .standard-card-content {
    /* border: 2px solid red; */
    max-width: 300px;
    max-height: 550px;
    margin: 20px auto;
    text-align: center;
  }

  .control-container {
    display: none;
  }

  /* stories section start */

  .stories-title-info .stories-title {
    font-size: 1.6rem;
    text-align: center;
  }

  .training-card {
    display: none;
  }

  .right-card-container .card {
    width: 180px;
    height: 100px;
    padding: 5px;
    margin-top: 30px;
  }

  .right-card-container .card-title {
    margin-top: 20px;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .card img {
    width: 180px;
    height: 100px;
  }

  .right-card-container .card-1 {
    font-size: 0.6rem;
    width: 100px;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 125px;
    left: 35px;
  }

  .right-card-container .card-2 {
    font-size: 0.6rem;
    width: 100px;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 125px;
    right: 30px;
  }

  .right-card-container .card-3 {
    font-size: 0.6rem;
    width: 100px;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 90px;
    left: 40px;
  }

  .right-card-container .card-4 {
    font-size: 0.6rem;
    width: 100px;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 90px;
    left: 40px;
  }

  .card-test {
    display: block;
  }
  .right-card-container .card-5 {
    color: white;
    font-size: 0.6rem;
    font-weight: 500;
    position: absolute;
    background-color: #95b226;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    top: 95px;
    left: 40px;
  }

  .right-card-container .card-6 {
    color: white;
    font-size: 0.6rem;
    font-weight: 500;
    position: absolute;
    background-color: #95b226;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    top: 95px;
    left: 40px;
  }
  .card-position {
    position: relative;
    top: -20px;
  }

  .btn-view {
    margin-bottom: 20px;
  }

  /* stories section end */

  /* footer section */

  .footer-container {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    text-align: left;
    max-width: 390px;
    padding: 0px;
    /* border: 2px solid red; */
    margin-top: -30px;
  }

  .about-school h2,
  .touch-section h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    padding: 5px;
  }
  .kids-content h1 {
    font-size: 2.1rem;
  }
  .kids-education p {
    font-size: 1.2rem;
  }
  .about-school p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px;
  }
}
